<a href="https://colab.research.google.com/github/ian-james/AdaptivePacman/blob/master/hockeyMain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install --upgrade --quiet gspread

Open up the documents

In [14]:
from google.colab import auth
auth.authenticate_user()

from __future__ import print_function
import pandas as pd
pd.__version__

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open("hockey2018-2019").sheet1

data = worksheet.get_all_values()
headers = data.pop(0)

# Convert to the data video
df = pd.DataFrame(data, columns=headers)

print(df.head() )

['Date', 'Visitor', 'G', 'Home', 'G', 'OT']
The google.colab.data_table extension is already loaded. To reload it, use:
  %reload_ext google.colab.data_table
         Date             Visitor  G                 Home  G  OT
0  2018-10-03       Anaheim Ducks  5      San Jose Sharks  2
1  2018-10-03  Montreal Canadiens  2  Toronto Maple Leafs  3  OT
2  2018-10-03      Calgary Flames  2    Vancouver Canucks  5
3  2018-10-03       Boston Bruins  0  Washington Capitals  7
4  2018-10-04       Boston Bruins  4       Buffalo Sabres  0

In [17]:
# %load_ext google.colab.data_table
print(df)
print("*******************************************************")
df.describe()

# %unload_ext google.colab.data_table

            Date              Visitor  G                 Home  G  OT
0     2018-10-03        Anaheim Ducks  5      San Jose Sharks  2
1     2018-10-03   Montreal Canadiens  2  Toronto Maple Leafs  3  OT
2     2018-10-03       Calgary Flames  2    Vancouver Canucks  5
3     2018-10-03        Boston Bruins  0  Washington Capitals  7
4     2018-10-04        Boston Bruins  4       Buffalo Sabres  0
...          ...                  ... ..                  ... ..  ..
1266  2019-04-06  Carolina Hurricanes  4  Philadelphia Flyers  3
1267  2019-04-06     New York Rangers  4  Pittsburgh Penguins  3  OT
1268  2019-04-06   Colorado Avalanche  2      San Jose Sharks  5
1269  2019-04-06    Vancouver Canucks  2      St. Louis Blues  3  SO
1270  2019-04-06   New York Islanders  3  Washington Capitals  0

[1271 rows x 6 columns]
*******************************************************

              Date          Visitor     G             Home     G    OT
count         1271             1271  1271             1271  1271  1271
unique         177               31    10               31    10     3
top     2018-11-23  San Jose Sharks     3  San Jose Sharks     3
freq            15               41   285               41   261  1000

In [0]:
import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt

import numpy as np
from sklearn import metrics
%tensorflow_version 1.x
import tensorflow as tf
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format